<!DOCTYPE html>
<html>
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
  <title>Drill Sergeant</title>
  <link rel = "stylesheet" href = "popup.css">
</head>
<body id = "all">
  <header>
    <h1>DRILL SERGEANT</h1>
  </header>
    <div class = "visual">
      <img src = "../images/drillserg_default.png" width="80px">
    </div>

    <div class = "bodytext">
      <p id = "dialogue">"I'M WATCHING YOU, MAGGOT ..."</p>
      <h2 id = "timer">(PAUSED)<p>
    </div>

    <div class = "infotext">
      <p id = "info-recharge">Timer recharge: paused</p>
      <p id = "info-reset">Timer reset: paused</p>
    </div>

    <div class = "settings">
      <img src = '../images/gear.png' id = 'settings'/>
    </div>

    <script src = ../popup.js></script>

</body>

</html>
