<!DOCTYPE html>
<header>
    <link rel = 'stylesheet' href = './settings.css'/>
</header>
<body>
        <h1>Settings</h1>
        <span id = 'watchlist'>
            <h3>Watchlist ⓘ</h3>
            <div>
                <label>Site 1</label>
                <input type = 'text'/>    
            </div>
           
            <div>
                <label>Site 2</label>
                <input type = 'text'/>
            </div>
            
            <div>
                <label>Site 3</label>
                <input type = 'text'/>    
            </div>
            
        
            <div>    
                <label>Site 4</label>
                <input type = 'text'/>
            </div>
    
            <div>
                <label>Site 5</label>
                <input type = 'text'/>
            </div>
        </span>
    
        <span id = 'timers'>
                <label class = 'settingName'>ⓘ Timeout</label>
                <div>
                    <span class = 'btnSet'>
                        <button id = 'Timeout_HPlus'>+</button><button id = 'Timeout_HMinus'>-</button>
                    </span>
                    <label class = 'value'>3</label><label>h</label>
                         
                    <span class = 'btnSet'>
                        <button id = 'Timeout_MPlus'>+</button><button id = 'Timeout_MMinus'>-</button>
                    </span>
                    <label class = 'value'>40</label><label>m</label>
                </div>
    
    
                <label class = 'settingName'>ⓘ Censor Duration</label>
                <div>
                    <span class = 'btnSet'>
                        <button id = 'Censor_HPlus'>+</button><button id = 'Censor_HMinus'>-</button>
                    </span>
                    <label class>3h</label>
    
                    <span class = 'btnSet'>
                        <button id = 'Censor_MPlus'>+</button><button id = 'Censor_MMinus'>-</button>
                    </span>
                    <label class>40m</label>
                </div>
    
                <div>
                    <label class = 'settingName'>ⓘ Recharge rate:</label>
                    <label id = 'lblRechargeValue'>0.1* </label><label>Real Time</label>
                    <span class = 'btnSet'>
                        <button id = 'Censor_MPlus'>+</button><button id = 'Censor_MMinus'>-</button>
                    </span>
                </div>
    </span>
    <button id = "confirm">Confirm</button>

    </body>
</html>