@import url('https://fonts.googleapis.com/css?family=Khand|Special+Elite|Stardos+Stencil&display=swap');

body {
  width: 384px;
  height: 300px;
  background-color:#e8d8a9;
}
header{
  color: #261802;
  text-align: center;
  margin-top: 0px;
  font-family: Special Elite;
  font-size: 16px;
}

#timer{
font-family: Stardos Stencil;
font-size: 40px;
transition: all 0.5s ease;
}

#dialogue{
  font-family: Khand;
  font-size: 20px;
  color: #473e2d;
}

.bodytext{
  display: inline-block;
  position: absolute;
  bottom: 80px;
  left: 150px;
}
.infotext
{
    font-size: 13px;
    font-family: Special Elite;
    text-align: center;
    position: absolute;
    left: 150px;
}


#timer:hover{
    color: #c10b0b;
    cursor: grab;
}

#settings{
  background-color: #93c498;
  outline: none;
  font-family: Khand;
  position: absolute;
  right: 0px;
  top: 0px;
}

.config{
  display:none;
  position: absolute;
  font-family: Khand;
  font-size: 13px;
  top: 320px;
  right:100px;
  left: 100px;
  background-color: #ad9e72;
}

#config-header{
  text-align: center;
}

#confirm{
  position:relative;
  right: 80px;
  left: 80px;
  font-family: Khand;
}
