@import url('https://fonts.googleapis.com/css?family=Khand|Special+Elite|Stardos+Stencil&display=swap');

body {
  width: 384px;
  height: 300px;
  background-color:#e8d8a9;
}
header{
  color: #261802;
  text-align: center;
  margin-top: 0px;
  font-family: Special Elite;
  font-size: 16px;
}

#timer{
font-family: Stardos Stencil;
font-size: 40px;
transition: all 0.5s ease;
}

#dialogue{
  font-family: Khand;
  font-size: 20px;
  color: #473e2d;
}

.bodytext{
  display: inline-block;
  position: absolute;
  bottom: 80px;
  left: 150px;
}
.infotext
{
    font-size: 13px;
    font-family: Special Elite;
    text-align: center;
}



#timer:hover{
    color: #c10b0b;
    cursor: grab;
}
